body{
  background-color: #e6e6e6;
}

.Main_body{
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

p {
  font-size: 200%;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.Interact{
  padding: 30px 10px 25px;
  background-color: white;
}

input{
  height: 25px;
  width: 250px;
  padding: 10px;
  border: None;
  border-bottom: solid 1px black;
}

input:focus{
    outline: none;
    border-bottom: solid 1px red;
}

hr{
  margin-top: 50px;
  color: #e6e6e6;
  background-color: #e6e6e6;
  height: 1px;
}

button{
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  margin: 20px 40px;
  outline: 0 none;
  transition: background-color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  border: 0 none;
}

.Register{
  width: 195px;
  background-color: #DC143C;
}

.Facebook{
  background-color: #00008B;
}

button:hover{
  background-color: white;
  padding: 9px;
}

.Register:hover{
  color: #DC143C;
  border: solid 1px #DC143C;
}

.Facebook:hover{
  color: #00008B;
  border: solid 1px #00008B;
}
